
.modal-margin {
	margin-top: 135px;
}

.custom-map-type-control {

	direction: ltr; 
overflow: hidden; 
text-align: center; 
position: relative; 
color: rgb(0, 0, 0); 
font-family: Arial, sans-serif; 
-webkit-user-select: none; 
font-size: 40px; 
width: 200px;
background-color: rgb(255, 255, 255); 
padding: 1px 6px; 
border: 1px solid rgb(113, 123, 135); 
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; 
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px; 
/*font-weight: bold; */
min-width: 29px; 
background-position: initial initial; 
background-repeat: initial initial; 
}

.park-btn {
	margin-top: 20px;
	width: 45%;
	height: 55px;
	font-size: 23px !important;
}

.font-big {
	font-size: 30px;
}
.btn-lg-custom {

    padding: 10px 16px !important;
    font-size: 25px  !important;
    line-height: 3  !important;
    border-radius: 6px  !important;
}

.modal-height {
	height: 200px;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 30px !important;
  line-height: 1.5 !important;
  width:100%;
  /*padding: 10px;*/
  /*line-height: 2 !important;*/
}

.user-info
{
	/*background-color: white;*/
	background-color: #0215555c;
	border: 1px black;
}

.spot-info {
	font-size: 20px;
}

.text-white {
	color: white;
}

.padding-left {
	padding-left: 40px;
}

.margin-left {
	margin-left: 10px;
}

.padding-top-bottom {

	padding-top: 30px;
	padding-bottom: 30px;
}

.width-full {
	width:100%;
}

#screen, #sync_body, #footer{
	/*width: 1935px;*/
	width: 100%;
}
#screen{
	background: black;
	--height: 1175;
	/*width: 1936px;*/
}
#header{
	background: black;
	height: 124px;
	display: inline-block;
	
}

#home, #temp_interior_driver, #clock, #temp_exterior, #temp_interior_passenger, #bluetooth{
	line-height: 120px;
	font-family: Arial;
	font-size: 90px;
	color: white;
	background: black;
}
#temp_interior_driver, #temp_interior_passenger{
	font-family: Arial;
	font-size: 68px;
	text-align: center;
}
#home, #bluetooth{
	height: 120px;
}

#home{
	background: url(images/home.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width: 325px;
}
#home:hover{
	background: url(images/home_pressed.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#temp_interior_driver{
	float: left;
	width: 137px;
}
#clock{
	float: left;
	width: 520px;
	text-align: right;
}
#temp_exterior{
	float: left;
	width: 635px;
	padding-left: 40px;
}
#temp_interior_passenger{
	float: left;
	width: 137px;
}
#bluetooth{
	background: url(images/bluetooth.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	width: 137px;
}


#sync_body{
	background: url(images/screen_backdrop.png) center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
}
.app_icon{
	background: url(images/button.png) center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 353px;
	width: 420px;
	float: left;
	margin-top: 50px;
	margin-left: 60px;
}
#findapps img{
	width:50%;
	padding: 60px 110px 60px 110px;
}
#smartpark img{
	width:80%;
	padding: 70px 50px 70px 50px;
}



#footer{
	background: #e1e1e1;
	height: 175px;
	border-top: 4px outset black;
	border-bottom: 4px outset black;
}
.footer_button{
	/*width: 320px;*/
	width: 16%;
	height: 100%;
	float: left;
}

#audio{
	background: url(images/audio.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#climate{
	background: url(images/climate.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#phone{
	background: url(images/phone.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#nav{
	background: url(images/nav.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#apps{
	background: url(images/apps.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#apps:hover{
	background: url(images/apps_pressed.png) center;
	background-repeat: no-repeat;
	background-size: contain;
}
#settings{
	background: url(images/settings.PNG) center;
	background-repeat: no-repeat;
	background-size: contain;
}
